a:hover,a:focus{
 outline: none;
 text-decoration: none;
}
.tab{
 padding: 40px 50px;
}
.tab .tab-content{
 padding: 20px 0 0 0;
 margin-top: 40px;
 background: transparent;
 z-index: 1;
 position: relative;
}
.form-bg{ background: #ddd; }
.form-horizontal .form-group{
 margin: 0 0 15px 0;
 position: relative;
}
.form-horizontal .form-control:focus{
 box-shadow: none;
 outline: 0 none;
}
.form-horizontal .form-group label{
 padding: 0 20px;
 color: #000;
 text-transform: capitalize;
 margin-bottom: 10px;
}
.connector{
  color: black;
  font-size: 22px;
  margin: -10px 0 0 0;
  padding: 0;
  text-align: center;
}
h3.text-center{
  position: absolute;
  top: 15px;
  left:0;
  right: 0;
}