.scrollable{
  height: 80%;
    max-height: 30em;
    overflow-x: hidden;
}

.scroll-pane {
	width: 100%; /* Ширина видимой области*/
	height: 80vh; /* Высота видимой области*/
	overflow-y: auto; /* Если отключены скрипты это правило позволит отобразить обычный скролл */
  overflow-x: none;
}

.profile-photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.name{
  display: inline-block;
  color: blue;
}

.full-message{
  margin-top: 10px;
}

.last-message-time{
  display: inline-block;
}

.badge{
  position: absolute;
  left: 215px;
  bottom: 20px;
  padding: 5px 10px;
}
